@use "@carbon/type";
@use "@carbon/layout";
@use "@openmrs/esm-styleguide/src/vars" as *;

.admissionRequestsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: layout.$spacing-03;
  min-width: 0;
  max-width: 100%;
  padding: layout.$spacing-02 0 layout.$spacing-02 layout.$spacing-04;
  background-color: #393939;
  & > button {
    color: #78a9ff;

    svg {
      fill: #78a9ff !important;
    }
  }

  & > button:hover {
    color: #78a9ff;
  }
}

.movementIcon {
  flex-shrink: 0;
  padding: layout.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: $color-blue-60-2;
}

.blackBackground {
  background-color: #393939;
  color: white;
}

.lightBlueBackground {
  background-color: $color-blue-10;
  border-left: 4px solid $color-blue-60-2;
  color: #393939;
}

.content {
  @include type.type-style("heading-compact-01");
  flex: 1 1 8rem;
  min-width: 0;
  overflow-wrap: anywhere;
}

.manageButton {
  flex-shrink: 0;
  margin: 0 layout.$spacing-03;
}

@media (max-width: $breakpoint-tablet-max) {
  .admissionRequestsContainer {
    flex: 1 1 100%;
  }
}
